<!-- Copyright 2020 Eric S. Londres
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.  -->

<script lang="ts">
 import Link from './Link.svelte';
 import DeleteButton from './DeleteButton.svelte';
 import ResetButton from './ResetButton.svelte';
 import NewButton from './NewButton.svelte';
 export let data = [];

 const uri = 'https://api.ericlondres.tech/favorites';
 
 async function getData() {
     const response = await fetch(uri);
     const result = await response.json();
     data = result.sort((a, b) => {
	 if(a.count < b.count) return 1;
	 if(a.count > b.count) return -1;
	 return 0;
     });
 }
 
 getData();
</script>

<style>
 #container {
     margin: 4em;
     width: auto;
     display: flex;
     align-content: center;
     justify-content: space-between;
 }

 .row {
   display: flex;
 }
</style>

{#each data as datum}
  <div class="row">
    <Link id={datum.id}
	  href={datum.href}
	  linkText={datum.text}
	  count={datum.count}
	  />
    <DeleteButton id={datum.id}/>
  </div>
  <hr/>
{/each}

<div id="container">
    <ResetButton/>

    <NewButton/>
</div>
