<!-- Copyright 2020 Eric S. Londres
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.  -->

<script lang="ts">
  import { onMount } from 'svelte';

  export let id: string;

  async function onClick(e: MouseEvent) {
    e.preventDefault();
    fetch('https://api.ericlondres.tech/favorites?id=' + id, { method: 'DELETE' });
  }

  onMount(() => document.getElementById('delete-' + id).addEventListener('click', onClick));
</script>

<style>
  .delete {
    border: none;
    background-color: inherit;
    color: white;
    font-size: 1.2em;
    display: block;
    width: 25%;
    height: inherit
  }
  
  .delete:hover {
    background-color: #6a7e6a40;
  }
</style>

<button class="delete" id="delete-{id}">
  Delete
</button>
