<!-- Copyright 2020 Eric S. Londres
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.  -->

<script lang="ts">
  import { onMount } from 'svelte';
  
  export let id: string;
  export let href: string;
  export let linkText: string;
  export let count = 0;

  async function onClick(e: MouseEvent) {
    e.preventDefault();
    await fetch('https://api.ericlondres.tech/favorites', {
      method: 'POST',
      body: id,
      headers: { 'Content-Type': 'application/json' }
    });
    window.location.href = href;
  }

  onMount(() => document.getElementById(id).addEventListener('click', onClick));

  var color: string;
  if(count > 100) {
    color = 'white';
  } else if(count > 50) {
    color = '#6287f8';
  } else if(count > 25) {
    color = '#73fffe';
  } else if(count > 5) {
    color = '#fbf665';
  } else if(count > 1) {
    color = '#ff6e27';
  } else {
    color = '#00000000';
  }
</script>

<style>
 .Link {
     width: 75%;
 }
  .text {
    font-size: 1.4em;
    color: #b7c1de;
  }

  a {
    text-decoration: none;
  }
  
  .favorite {
    display: block;
    padding: .9em 4em;
  }

  .favorite:hover {
    background-color: #6a7e6a40;
  }

  .count {
    display: inline-block;
    width: 3ch;
  }
</style>


<div class="Link">
  <a {href} {id} class="favorite">
    <div class="text">
      <span class="count" style="color: {color}">{count}</span>
      <span class="linkText">{linkText}</span>
    </div>
  </a>
</div>
