<!-- Copyright 2020 Eric S. Londres
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.  -->

<script> 
 import { onMount } from 'svelte';

 onMount(() => document.getElementById('reset').addEventListener('click', async () =>
   await fetch('https://api.ericlondres.tech/favorites', {
     method: 'PATCH',
     headers: {
       'Content-Type': 'application/json'
     }
   })
 ));
</script>

<style>
 #reset {
     color: #1afe49bb;
     text-align: center;
     border: 2px solid #1afe4980;
     background-color: #F9267250;
     border-radius: 2em;
     width: 10ch;
     font-size: 3em;
     box-shadow: 0 0 1ex #1afe49aa;
 }

 #reset:hover {
   background-color: #f92672;
   color: #ffffffaa;
   box-shadow: 0 0 1ex #1afe49;
   border-color: #1afe49;
 }
 
</style>

<div id="reset">
  Reset All
</div>
